<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>plan_one</title>
</head>
<body>
    <h1>1门铃解决方案</h1>
    <div class="right_body">
        <div style="line-height:2.0em; font-size:16px;">
            <span style="font-size:15px;">&nbsp; &nbsp; &nbsp; &nbsp;<strong>校园智能门锁</strong>
                系统是专门针对校园公寓、教室、实验室、办公室等场景的安防及后勤管理开发的定制化解决方案。<br/>
                &nbsp; &nbsp; &nbsp; &nbsp;系统由无线<strong>校园智能门锁</strong>
                、智能网关、物联网管理平台组成，通过与学校数据中心、学工系统、迎新系统、毕业离校系统、琴房管理系统、
                一卡通系统等无缝对接，对每把门锁进行实时状态监控，实现开门授权、安全防控、数据统计、巡更及假期管理等功能，
                较大地减少宿管人员及管理教师的工作量，使宿管工作由&ldquo;汗水管理&rdquo;向&ldquo;智慧管理&rdquo;转变，
                提高学校数据可视化、透明化、统一化管理程度，配合打造学生行为大数据分析闭环。
            </span><br/>&nbsp;
        </div>
    </div>
</body>
</html>